/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/

.main{

  width:100vw;
  height:100vh;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLIT45077v1Xe7e-9dXlpkmR-nrM_yfgsbcYm24eZmSRc251iH-cOacxYlzjl09FGUtn0&usqp=CAU")
}

img{

  height:200px;
  width : 200px;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.box{

  background-color: rgb(89, 224, 248);
  min-width:40vw;
  height:30vh;
  border-radius:20px;
  border:2% solid rgb(172, 28, 28);
}

.info{
  width:19vw;
  padding-left: 5%;
}

.add-button{
  margin-left: 800px;
}

.info-container{

  max-width: 50%;
  height:50%;
  margin-bottom: 100px;
  margin-top:100px;
}

.button{

  margin-left:100px;
  background-color:rgba(233, 247, 245, 0.966);
 
  padding:2px;
}

.header{

  margin-top: -100px;
}

.error{

  height:0px;

}